body{
	font-family: Helvetica, sans-serif;
}
#wrap{
	width: 960px;	/*definir a margem por tamanho de pixel*/
	margin: auto;	/*definir a margem de forma automatica (cetralizar)*/
	background: #e3e3e3;	/*cor de fundo em exadecimal*/

}
header h1{
	padding: 10px 20px;	/*topo, direita, baixo, esquerda é a ordem de classificação,*/
	/*padding:10px;		nesse caso 10px sera padrão para todas as medidas*/
	/*padding: 10px 30px;		nesse caso 10px sera para topo e baixo, e 30px sera para direita e esquerda*/

}
header nav ul{
	list-style: none;
	padding-left: 20px;
}
header nav ul li{
	display: inline-block;
	padding-right: 10px;
}